# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Django
db.sqlite3
media/

# AI Models
*.pt
*.onnx
*.engine

# YOLO Training
runs/

# Datasets
datasets/
raw_dataset/

# VS Code
.vscode/

# Logs
*.log

# Environment
.env